

.cell-container {
  padding: 5px 15px;
  direction: rtl;
  text-align: center;
  font-size: 18px;
}

.verb {
  // display: inline-flex;
}

.pronoun {
  color: #bbb7b7;
}

.verb-conjugation {
  margin-inline-start: 10px;
}
