<div class="grid-wrapper">
  <div class="grid-cell gender musc">Musc.</div>
  <div class="grid-cell gender fem">Fem.</div>    
  <ng-container *ngFor="let conjugationTemplate of conjugation | conjugationTemplate : conjugation.time">
    <div class="grid-cell"
      [style.--grid-column-start]="conjugationTemplate.cellStart"
      [style.--grid-column-end]="conjugationTemplate.cellEnd"
      [style.--border-left]="conjugationTemplate.borderLeft"
      [style.--border-right]="conjugationTemplate.borderRight"
    >
    <app-conjugation-cell 
      [conjugation]="conjugationTemplate"
    ></app-conjugation-cell>
    </div>
  </ng-container>
</div>