:host {
  --grid-column-start: 0;
  --grid-column-end: 0;
  --border-left: "";
  --boarder-right: "";
}

.grid-wrapper {
  display: grid;
  direction: rtl;
  grid-template-columns: 1fr 1fr;

  .grid-cell {
    grid-column-start: var(--grid-column-start);
    grid-column-end: var(--grid-column-end);
    border-left: var(--border-left);
    border-right: var(--border-right);
    margin-bottom: 0.5rem;
  }

  .gender {
    text-align: center;
    direction: ltr;

    &.fem {
      color: #e54575;
      font-size: 16px;
    }

    &.musc {
      color: #36f;
      font-size: 16px;
    }
  }
}
